.home-page {
    background: rgb(6, 0, 16);
    color: white;
    font-family: Inter;
}

.label {
    font-weight: 600;
    background: #271E37;
}

.text {
    letter-spacing: -1px;
    font-weight: 700;
}

.page-content {
    pointer-events: none;
}

.navbar {
    pointer-events: auto;
    gap: 20px;
}

.button {
    background-color: #271E37;
    color: black;
}

.button:hover {
    color: white;
}